*.iml
.gradle
/local.properties
/app/build
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.git
/app/src/main/assets/src/dist
/app/src/main/assets/src/npm-debug.log
/app/src/main/assets/node_modules